/** @format */

@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}
